* {
    padding: 0;margin: 0;box-sizing: border-box;
}

body {
    background-color: green;
 
    min-height: 100vh;
    /* display: grid;
    grid-template-columns: 250px 1fr; */

}

#home {
    background-color: rgb(30, 30, 30);
    min-height: 100vh;
    /* grid-column: 2; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: transform 0.5s cubic-bezier(0.77, 0, 0.175, 1);
}

#askbar-wrapper {

    /* background-color: rebeccapurple; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    box-shadow: 0px 0px 10px 5px rgba(20, 20, 20, 0.8);
    transition: transform 0.5s cubic-bezier(0.77, 0, 0.175, 1);
}

#askbar {
    width: 600px;
    height: 70px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    background-color: rgb(50, 50, 50);
    border-left: 1px solid rgb(100, 100, 100);
    border-right: 1px solid rgb(100, 100, 100);
    border-top: 1px solid rgb(100, 100, 100);
    border-bottom: none;
    outline: none;
    padding: 10px 10px;
    font-family: 'Poppins';
    font-weight: 500;
    font-size: 14px;
    color: whitesmoke;
    transition: transform 0.5s cubic-bezier(0.77, 0, 0.175, 1);   
    
    scrollbar-width: thin;
    scrollbar-color: rgb(140, 140, 140) transparent;


}

#askbar-btns-box {
    background-color: rgb(50, 50, 50);
    height: 45px;
    width: 600px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    border-bottom: 1px solid rgb(100, 100, 100);
    border-left: 1px solid rgb(100, 100, 100);
    border-right: 1px solid rgb(100, 100, 100);


    display: grid;
    grid-template-columns: 45px 45px 1fr 45px;
    /* justify-items: center;
    align-items: center; */
    place-items: center;
}
button {
    height: 35px;width: 35px;
    border-radius: 100%;
    border: none;
    font-size: 14px;
    color: white;
    font-weight: bold;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 0.2s ease-in-out;
}

button:hover {
    background-color: rgb(20, 20, 20);
}

#send-btn {
    grid-column: 4;
}

/* #askbar {
    scrollbar-width: thin;
    scrollbar-color: rgb(140, 140, 140) transparent;
} */


#sidebar {
    background-color: rgb(20, 20, 20);
    height: 100vh;
    width: 250px;
    position: fixed;
    top: 0;
    left: 0;
    display: grid;
    grid-template-rows: 60px 150px 4.55fr 1fr;
    transition: width 0.5s cubic-bezier(0.77, 0, 0.175, 1);
    border-right: 1px solid rgb(100, 100, 100);
    z-index: 1;
    box-shadow: 0px 0px 10px 5px rgba(20, 20, 20, 0.8);
}

#toggle-btn {
    height: 40px;
    width: 40px;
    border-radius: 100%;
    /* background-color: aqua; */
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
    color: white;
    
}

#toggle-btn:hover {
    background-color: rgb(40, 40, 40);
}

.sidebar-btns-box {
    /* background-color: green; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
    
}
#settings-profile-btn-box {
    grid-row: 4;
    /* background-color: aqua; */
    height: 100px;
    align-self: end;
}



.sidebar-btns {
    /* background-color: sandybrown; */
    margin: 0px 10px;
    overflow: hidden;
    color: white;
    font-size: 14px;
    font-family: 'Poppins';
    padding-left: 14px;
    border-radius: 10px;

    width: 230px;
    height: 40px;

    display: flex;
    align-items: center;
    gap: 14px;
}

.sidebar-btns i {
    opacity: 0.5;
}
span {
    opacity: 1;
    transition: opacity 1s ease-in-out;
    /* transition-delay: 0.5s; */
}

#cross {
    font-size: 20px;
}
.sidebar-btns:hover {
    background-color: rgb(40, 40, 40)
}
#slide-toggle:checked + #sidebar #toggle-btn #cross{
    display: none;
}

#slide-toggle:not(:checked) + #sidebar #toggle-btn #ham {
    display: none;
}

#slide-toggle:checked + #sidebar {
    width: 60px;
}

#slide-toggle:checked + #sidebar .sidebar-btns-box .sidebar-btns span {
    /* display: none; */
    opacity: 0;

}

#slide-toggle:checked + #sidebar .sidebar-btns-box .sidebar-btns {
    width: 40px;
}



#slide-toggle:not(:checked) ~ #home #askbar-wrapper {
    transform: translateX(130px);
}

#slide-toggle:checked ~ #home #askbar-wrapper {
    transform: translateX(30px);
}